binds {

    // Application launcher
    Mod+R { spawn-sh "rofi -show-icons -show drun"; }

    // Print
    PRINT { spawn "flameshot" "gui"; }

    // Toolbox
    Mod+Escape { spawn-sh "bash ~/.config/lostshell/scripts/dmenu.sh"; }

    // Apps
    Mod+F1 { spawn "ghostty"; }
    Mod+E { spawn "nautilus"; }

    // Window control
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }
    Mod+W { focus-window-up; }
    Mod+S { focus-window-down; }
    Mod+Shift+A { move-column-left; }
    Mod+Shift+D { move-column-right; }
    Mod+Shift+W { move-window-up; }
    Mod+Shift+S { move-window-down; }
    Mod+Shift+Q { consume-or-expel-window-left; }
    Mod+Shift+E { consume-or-expel-window-right; }
    Mod+Z { center-column; }
    Mod+Shift+Z { toggle-window-floating; }



    // Workspace switching
    Mod+Tab { toggle-overview; }
    Mod+Ctrl+W { focus-workspace-up; }
    Mod+Ctrl+S { focus-workspace-down; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

}